@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// indexページのfvセクション
.p-index-fv {
  &__wrapper {
    padding: 110px 0 30.4px 0;
    background: import.$color-fv;
    &::before {
      content: "";
      background: url(/img/component/noise.svg);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-size: 100px; /* ノイズ画像の粗さを調節 */
      opacity: 0.3;
    }
  }
  &__content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    svg {
      position: absolute;
      top: 37px;
      width: 100%;
    }
  }
  &__text {
    font-size: 2.2rem;
    letter-spacing: 0.2em;
    font-family: "AvenirNext LT Pro";
    font-weight: 800;
    fill: import.$color-transparent;
    stroke: import.$color-black;
    stroke-width: 1;
    text-anchor: middle;
    transform: translate(2px, 1px);
  }
  &__card-wrapper {
    display: flex;
    width: 100%;
    background-color: import.$color-fv;
    padding: 8px 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  &__card {
    height: 64px;
    width: 160px;
    background-color: import.$color-white;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    font-family: "AvenirNext LT Pro";
  }
  &__card-left {
    &-text {
      transform: translateX(18px);
    }
    &::after {
      padding: 3px 0 0 35px;
      content: url(/img/component/line.svg);
    }
  }
  &__card-right {
    margin-left: 25px;
    &-text {
      transform: translateX(13px);
    }
    &::after {
      padding: 3px 0 0 30px;
      content: url(/img/component/instagram.svg);
    }
  }
}

@include m.mq(pc) {
  // indexページのfvセクション
  .p-index-fv {
    &__wrapper {
      padding: 190px 0 110.4px 0;
      &::before {
        height: 800px;
      }
    }
    &__content-wrapper {
      img {
        width: 100%;
      }
      svg {
        position: absolute;
        top: 15px;
      }
    }
    &__text {
      font-size: unquote("min(5.5vw, 64px)"); //scssでmin()とmax()を使用する場合
      letter-spacing: 0.15em;
    }
    &__card-wrapper {
      position: fixed;
      width: 100%;
      top: 440px;
      background-color: import.$color-black;
      margin: 0;
      padding: 0;
    }
    &__card {
      height: 100px;
      width: 215px;
      background-color: import.$color-white;
      letter-spacing: 0.1em;
      font-family: "AvenirNext LT Pro";
      margin: 0;
      &:hover {
        background-color: import.$color-base;
        color: import.$color-white;
      }
    }
    &__card-left {
      transform: rotate(270deg);
      &-text {
        transform: translateX(18px);
      }
      &::before {
        padding: 4px 0 0 44px;
        content: url(/img/component/line.svg);
      }
      &:hover {
        &::before {
          content: url(/img/component/line_hover.svg);
          transform: rotate(90deg);
          padding: 0px 0px 80px 0px;
        }
        .p-index-fv__card-left-text {
          transform: translateX(63px);
        }
      }
      &::after {
        display: none;
        padding: 3px 0 0 35px;
        content: url(/img/component/line.svg);
      }
      &-wrapper {
        position: absolute;
        left: 0;
        transform: translate(-58px, 1px);
      }
    }
    &__card-right {
      transform: rotate(90deg);
      &-text {
        transform: translateX(40px);
      }
      &::after {
        padding: 3px 0 0 56px;
        content: url(/img/component/instagram.svg);
      }
      &:hover {
        &::after {
          content: url(/img/component/instagram_hover.svg);
          transform: rotate(270deg);
          padding: 120px 0px 0px 0px;
        }
      }
      &-wrapper {
        position: absolute;
        right: 0;
        transform: translate(58px, 1px);
      }
    }
  }
}
